<div class="register">
  <h1>New Seller</h1>
  <%= form_with(model: seller, local: true) do |form| %>
    <% if seller.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

        <ul>
        <% seller.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <p>
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
      </p>
      <p>
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
      </p>

      <p>
      <%= form.label :sex %>
      <%= form.select :sex, ['Male', 'Female']%>
      </p>
      <p>
      <%= form.label :birthday %>
      <%= form.date_field :birthday %>
      </p>

      <p>
      <%= form.label :email %>
      <%= form.text_field :email %>
      </p>
      <p>
      <%= form.label :password %>
      <%= form.password_field :password %>
      </p>
      <%= form.submit 'Create Seller', class:'button' =%>
  <% end %>
</div>
