<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>

    <img src="/pics/title.png" alt="" id="honeydew" >
    <% @sale.each do |sale| %>
    <tr>
      <% if !sale.buyer_id? %>
      <td style='color:red'>Seller: <%= Seller.find(sale.seller_id).email%></td>
      <td>Product: <%= Product.find(sale.product_id).name  %></td>


          <%end%>    </br><%end%>
    </tr>
















    </center>
  </body>
</html>
