/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	background-color: #f4f6f6;
 	margin-top:0;
 	margin-right:0;
 	margin-left:0;
 	font-family: 'Georgia', serif;
 	font-weight: lighter;
 }

 .button{
   text-decoration: none ;
   background: #8eb749;
   width: auto;
   font-family: 'Georgia', serif;
  	font-weight: lighter;
   font-size: 14px;
   color: white;
   -webkit-transition:0.3s ease-out;
   transition: 0.3s ease-out;
   padding: 15px;
 }

 .button:hover{
  text-decoration: none ;
  background: #708e38;
  width: auto;
  font-size: 14px;
  color: white;
  -webkit-transition:0.3s ease-out;
  transition: 0.3s ease-out;
}
