// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
font-family: 'Georgia', serif;
font-weight: lighter;
  color: #000000;
   margin:0px;
}

.main-navbar{
	background-color: white;
	padding: 30px;
	position: relative;
  display: flex;
  justify-content: center;
}

.navbar-right{
  display: flex;
    justify-content: flex-end;
}

.navbar-left{
  display: flex;
  justify-content: flex-start;
  padding-right: 30px;
}

 .select{
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    display:inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: crosshair;
    margin: 2px;
    top: 70%;
    position:absolute;
}
.navigation-wrapper{
    display: inline-block;
    margin-top: 5px;
     margin-left: 10px;
}
.items {
 justify-content: right;
 position: right;}

 .navbutton{
   text-decoration: none ;
   background: #8eb749;
   width: auto;
   font-weight: normal;
   font-size: 14px;
   color: white;
   -webkit-transition:0.3s ease-out;
   transition: 0.3s ease-out;
   padding: 20px;
   margin-right: 10px;
 }

 .navbutton:hover{
  text-decoration: none ;
  background: #708e38;
  width: auto;
  font-weight: normal;
  font-size: 14px;
  color: white;
  -webkit-transition:0.3s ease-out;
  transition: 0.3s ease-out;
}

#honeydew{
  width: 70%;
  height: auto;
}
