// Place all the styles related to the sellers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register{
  width: 100%;
  padding-top: 20px;
border-left: 50px;
border-right: 50px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
    justify-content: center;
-ms-flex-align: center;
    align-items: center;
-ms-flex-direction: column;
    flex-direction: column;
}
