<nav class ="main-navbar">
  <div class="navbar-left">
      <img src="/pics/melon.png" alt="" width= "50px" height="50px">
    </div>
  <div class = "navbar-right">
    <% if buyer_logged_in? || seller_logged_in? || admin_logged_in? %>
    <%= link_to "Logout", logout_path %><%if admin_logged_in? %><%= link_to " Back to Home", dashboard_path(session[:admin_id]) %><%end%>
      <%if buyer_logged_in? %><%= link_to " Back to Home", buyer_path(session[:buyer_id]) %><%end%>
      <%if seller_logged_in? %><%= link_to ' Back to Home', seller_path(session[:seller_id]) %><%end%>
    <% else %>
    <%= link_to "Home", root_path, class: 'navbutton' %>
    <%= link_to "Register as Buyer", newbuyer_url, class: 'navbutton' %>
    <%= link_to "Register as Seller", newseller_url, class: 'navbutton' %>
    <%= link_to "Login", login_path, class: 'navbutton'  %>
  <%end%>
  </div>
  </nav>
  <% if buyer_logged_in? %>
  <h1>buyer logged in</h1>
  <%end%>
  <% if seller_logged_in? %>
  <h1>seller logged in</h1>
  <%end%>
  <% if admin_logged_in? %>
  <h1>admin logged in</h1>
  <%end%>
